#MapOrphanage {
  width: 100vw;
  height: 100vh;
  display: flex;
}
#MapOrphanage .sideBar {
  padding: 4rem 5rem;
  display: none;
  visibility: hidden;
  flex: 1;
}
#MapOrphanage .sideBar .info {
  color: var(--color-white);
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
#MapOrphanage .sideBar .info h1 {
 font-size: 3rem;
}
#MapOrphanage .sideBar a {
  width: 70px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  color: var(--color-yellow-dark);
  background-color: var(--color-yellow);
  text-align: center
}
#MapOrphanage .sideBar a:hover {
  opacity: .9;
}
#Home footer a:hover {
  opacity: .9;
}
#MapOrphanage .content {
  display: flex;
  flex-direction: column;
  flex: 10;
  width: 100%;
}
#MapOrphanage .content .headerMobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
#MapOrphanage .content .headerMobile a {
  color: var(--color-white);
}
#MapOrphanage .content .headerMobile a:hover {
  opacity: .9;
}
#MapOrphanage .content .headerMobile .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#MapOrphanage .content .headerMobile {
  background-image:  linear-gradient(145deg, var(--color-banner2)0%, var(--color-banner)100%);
  padding: 1rem;
}
#MapOrphanage .content .headerMobile .logo img {
  width: 64px;
  height: 64px;
}
#MapOrphanage .content .headerMobile .logo h1 {
  color: var(--color-white);
}
#MapOrphanage .content .headerMobile a.create {
  width: 56px;
  height: 56px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-yellow-dark);
  background-color: var(--color-yellow);
  text-align: center
}
#MapOrphanage .map {
  width: 100%;
  height: 100%;
  padding: 2rem 1rem;
}
#MapOrphanage .map .leaflet-container {
  width: 100%;  
  z-index: 1;
  height: 100%;
  border-radius: 8px;
  border: 2px solid var(--color-border);
  transition: 200ms;
}
#MapOrphanage .map .create {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  background-color: var(--color-blue);
}
#MapOrphanage .map .create a svg{
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}
#MapOrphanage .content main.map > a.create{
  position: absolute;
  z-index: 100;
  bottom: 70px;
  right: 40px; 
  width: 60px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  color: var(--color-white);
  background-color: var(--color-blue);
  text-align: center
}
#MapOrphanage .content main.map > a.create:hover {
  background-color: var(--color-blue-light);
}
@media (min-width: 1000px) {
  #MapOrphanage .sideBar {
    display: flex;
    justify-content: space-between;
    visibility: visible;
    flex-direction: column;
    background-image:  linear-gradient(145deg, var(--color-banner2)0%, var(--color-banner)100%);
  }
  #MapOrphanage .content > main.map {
    padding: 0rem;
  }
  #MapOrphanage .map .leaflet-container {
    border-radius: 0px;
    border: 0px;
  }
  #MapOrphanage .content .headerMobile {
    display: none;
    visibility: hidden;
  }
  #MapOrphanage .content main.map > a.create{
    width: 70px;
    height: 70px;
    bottom: 50px;
    right: 50px; 
  }
}